@model List<YJMVC.Models.HomeInfoModel>
@{
    ViewBag.Title = "主页";
    Layout = "~/Views/Shared/_QianTaiView.cshtml";
}
<div class="slider">
    <div class="callbacks_container">
        <ul class="rslides" id="slider">
            <div class="slid banner1">
                <div class="caption" style="width:550px;height:157px">
                    <h3>上海  紫竹集团</h3>
                    <p>高端大气上档次 低调奢华有内涵</p>
                    <a href="#" class="button" style="width:112px;height:47px">知道更多</a>
                </div>
            </div>
            <div class="slid banner2">
                <div class="caption" style="width:550px;height:157px">
                    <h3>上海  正商地产</h3>
                    <p>正正经经经商，堂堂正正做事，客户就是上帝</p>
                    <a href="#" class="button" style="width:112px;height:47px">知道更多</a>
                </div>
            </div>
            <div class="slid banner3">
                <div class="caption" style="width:550px;height:157px">
                    <h3>上海  航远地产</h3>
                    <p>经商就如开船，兢兢业业才能够站的更高，走的更远</p>
                    <a href="#" class="button" style="width:112px;height:47px">知道更多</a>
                </div>
            </div>
        </ul>
    </div>
</div>
<div class="friend-agent">
    <div class="container">
        <div class="friend-grids">
            <div class="col-md-4 friend-grid">
                <a href="/HomeInfo/ChuShouIndex"><img src="~/QianTai/images/p.png"></a>
                <h4><a href="/HomeInfo/ChuShouIndex">我要买房</a></h4>
                <p>为了方便您的使用，帮助您快速跳转到出售房屋页面，帮助您快速找房，同时微信小程序同样可以进行此操作</p>
            </div>
            <div class="col-md-4 friend-grid">
                <a href="/Main/ZiDaiIndex"><img src="~/QianTai/images/p1.png"></a>
                <h4><a href="/Main/ZiDaiIndex">我要代理</a></h4>
                <p>如果您对买家或者卖家的信誉没有信心的话，可以联系我们，我们可以代替您处理这些事情，使您受到最大的利润</p>
            </div>
            <div class="col-md-4 friend-grid">
                <a href="/HomeInfo/ChuZuIndex"><img src="~/QianTai/images/p2.png"></a>
                <h4><a href="/HomeInfo/ChuZuIndex">我要租房</a></h4>
                <p>为了方便您的使用，帮助您快速跳转到出租房屋页面，帮助您快速找房，同时微信小程序同样可以进行此操作</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="offering">
    <div class="container">
        <h3>我们提供最好的房地产交易</h3>
        <div class="offer-grids">
            @foreach (var item in Model)
            {
                <div class="col-md-6 offer-grid">
                    <div class="offer-grid1">
                        <h4><a href="/HomeInfo/XiangQingindex?Id=@item.HomeInfo_Id">@item.HomeInfo_PosiTion@item.HomeInfo_Xq_Name</a></h4>
                        <div class="offer1">
                            <div class="offer-left">
                                <a href="/HomeInfo/XiangQingindex?Id=@item.HomeInfo_Id" class="mask"><img src="~/Images/@item.HomeInfo_PhotoPath" class="img-responsive zoom-img" alt="" /></a>
                            </div>
                            <div class="offer-right">
                                @if (item.HomeInfo_InfoType == 1)
                                {
                                    @:<h5><label>￥</label>@item.HomeInfo_Price<span>@item.HomeInfo_Type</span></h5>
                                }
                                else if (item.HomeInfo_InfoType == 2)
                                {
                                    @:<h5><label>￥</label>@item.HomeInfo_AvgPrice<span>@item.HomeInfo_Type</span></h5>
                                }
                                else
                                {
                                    @:<h5><label>￥</label>@item.HomeInfo_Price<span>@item.HomeInfo_Type</span></h5>
                                }
                                <p>@item.HomeInfo_IntroDuce</p>
                                <a href="/HomeInfo/XiangQingindex?Id=@item.HomeInfo_Id" class="button1">更多详细信息</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
