@model IEnumerable<YJMVC.Models.HomeInfoModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}

<p>
    <h2>
    广告推广列表
     </h2>
</p>

<table class="table">
    <tr>
        <th>
            小区名称
        </th>
        <th>
            详情介绍
        </th>
        <th>
            图片
        </th>
        <th>
            位置
        </th>
        <th>
            联系人
        </th>
        <th>
            手机号
        </th>
        <th>
            类型
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HomeInfo_Xq_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeInfo_IntroDuce)
        </td>
        <td>
            <img src="/Images/@item.HomeInfo_PhotoPath" alt="Alternate Text" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeInfo_PosiTion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeInfo_Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeInfo_Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeInfo_InfoType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
